In [ ]:
!pip install pdf2image -q
!apt-get install poppler-utils
from pdf2image import convert_from_path
import re
import pandas as pd
import os

In [ ]:
pdfs =  os.listdir('/content/drive/MyDrive/700t')
pdfs =  ['/content/drive/MyDrive/700t/'+i  for i in pdfs]
pdfs

In [ ]:
def pdftoimg(pdf_path, img_path):
  pdfs = os.listdir('/content/drive/MyDrive/700t')
  pages = convert_from_path(pdf_path, 500)
  for page in pages:
      page.save(img_path, 'JPEG')

In [ ]:
for i in pdfs:
  pdftoimg(i, i.replace('.pdf','.jpg'))

In [ ]:
!pip install easyocr -q
import easyocr
reader=easyocr.Reader(['en'])
import PIL
from PIL import ImageDraw

     |████████████████████████████████| 2.9 MB 14.1 MB/s
     |████████████████████████████████| 604 kB 89.6 MB/s
     |████████████████████████████████| 47.6 MB 1.2 MB/s
     |████████████████████████████████| 145 kB 66.1 MB/s

WARNING:easyocr.easyocr:Downloading detection model, please wait. This may take several minutes depending upon your network connection.

Progress: |██████████████████████████████████████████████████| 100.0% Complete

WARNING:easyocr.easyocr:Downloading recognition model, please wait. This may take several minutes depending upon your network connection.

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [ ]:
jpgs =  os.listdir('/content/drive/MyDrive/700t')
jpgs =  ['/content/drive/MyDrive/700t/'+i  for i in jpgs]
images=[]
for i in jpgs:
  if i.find('.jpg')!=-1:
    images.append(i)

In [ ]:
images

In [25]:
def extract_table(img_path):
  im=PIL.Image.open(img_path)
  bounds=reader.readtext(img_path)

  def draw_boxes(image,bounds,color = 'yellow',width = 3):
    draw = ImageDraw.Draw(image)
    for bound in bounds:
      p0,p1,p2,p3 = bound[0]
      draw.line([*p0,*p1,*p2,*p3], fill = color,width = 2)
    return image

  draw_boxes(im,bounds)

  text=''
  for i in range(len(bounds)):
    text=text+bounds[i][1]+ '\n'


  name=[]
  date=[]
  for i in range(len(bounds)):
   if re.match('SEC-F', bounds[i][1]):
     break
   if re.match('[A-z][A-z]', bounds[i][1].replace(" ", "")):
     if bounds[i][1] not in ['PX','pX','px','Px']:
      name.append(bounds[i][1])
      date.append(bounds[i+2][1].replace(" ", ""))  

  Data=pd.DataFrame(zip(name,date), columns=['Name', 'Date'] )
  Data['Letter'] = Data.index.to_series().apply(lambda x: chr(ord('a') + x)).str.upper()
  Data['Fisch No']=bounds[0][1].replace(" ",'')
  return(Data[['Letter', 'Name', 'Date', 'Fisch No']])

In [27]:
Table=[]
for i in images:
  Table.append(extract_table(i))

In [29]:
pd.concat(Table)

   Letter                          Name      Date Fisch No
0       A        AGNICO-EAGLE MINES LTD  06-21-91   91-605
1       B   BIOJECT MEDICAL SYSTEMS LTD  07-26-91   91-605
2       C          CLAUDE RESOURCES INC  06-13-91   91-605
3       D          CRISAN RESOURCES LTD  07-31.91   91-605
4       E       CROSS LAKE MINERALS LTD  06-14-91   91-605
..    ...                           ...       ...      ...
12      M  RIBI IMMUNCCHEM RESEARCH INC  04-25-91   91-606
13      N                   SAN VAL INC  06-21-91   91-606
14      O                SUMMIT BANCORP  06-13-91   91-606
15      P        USA WASTE SERVICES INC  08-30-91   91-606
16      Q       WESTERN ACCEPTANCE CORP  08-01-91   91-606

[175 rows x 4 columns]

In [ ]:
im=PIL.Image.open(images[1])

In [ ]:
bounds=reader.readtext(images[1])

In [ ]:
bounds

In [ ]:
def draw_boxes(image,bounds,color = 'yellow',width = 3):
  draw = ImageDraw.Draw(image)
  for bound in bounds:
    p0,p1,p2,p3 = bound[0]
    draw.line([*p0,*p1,*p2,*p3], fill = color,width = 2)
  return image

draw_boxes(im,bounds)

In [ ]:
text=''
for i in range(len(bounds)):
  text=text+bounds[i][1]+ '\n'

In [ ]:
print(text)

In [18]:
bounds[0][1]

'9 1-604'

In [ ]:
name=[]
date=[]
for i in range(len(bounds)):
 if re.match('SEC-F', bounds[i][1]):
   break
 if re.match('[A-z][A-z]', bounds[i][1].replace(" ", "")):
   if bounds[i][1] != 'PX':
    name.append(bounds[i][1])
    date.append(bounds[i+2][1].replace(" ", ""))

In [20]:
Data=pd.DataFrame(zip(name,date), columns=['Name', 'Date'] )
Data['Letter'] = Data.index.to_series().apply(lambda x: chr(ord('a') + x)).str.upper()
Data['Fisch No']=bounds[0][1].replace(" ",'')
Data[['Letter', 'Name', 'Date', 'Fisch No']]

   Letter                                Name      Date Fisch No
0       A              ABRAAMS INDUSTRIES INC  08-21-91   91-604
1       B                      AGP AND CO INC  09-27-91   91-604
2       C  LAKELAND FIRST FINANCIAL GROUP INC  10-22-91   91-604
3       D               BAA HARBOR BANKSHARES  10-01-91   91-604
4       E                  BRIDGE BANCORP INC  04-16-91   91-604
5       F                    BRYAN STEAM CORP  10-03-91   91-604
6       G                 BURNUP AND SIMS INC  09-27-91   91-604
7       H                           CACHE INC  09-12-91   91-604
8       I                CAPITAL RESERVE CORP  08-23-91   91-604
9       J              CENTRAL JERSEY BANCORP  03-26-91   91-604
10      K                  COMPUTER POWER INC   05-3091   91-604
11      L         DENNING MOBILE ROBOTKCS INC  10-29-91   91-604
12      M          DENSE-PAC MICROSYSTEMS INC  07-29-91   91-604
13      N           FiRST WESTERN BANCORP INC  04-22-91   91-604
14      O                         ISRAMCO INC  08-28-91   91-604
15      P                        MANATRON INC  10-03-91   91-604
16      Q                NORTH VALLEY BANCORP  05-13-91   91-604
17      R                     PC ETCETERA INC  09-13-91   91-604
18      S           PETROLEUM HELICOPTERS INZ  09-11-91   91-604
19      T                        QUANTUM CORP  09-19-91   91-604
20      U     REPUBLIC SAVINGS FINANCIAL COAP  07-29-91   91-604
21      V             ROBERTS OIL AND GAS INC  10-02-91   91-604
22      W         SAFETY RAILWAY SERVICE CORP  04-22-91   91-604
23      X                       SHOPSMITH INC  07-30-91   91-604
24      Y         SMARTCAAD INTERNATIONAL INC  09-06-91   91-604

In [ ]:
date=[]
for i in range(len(bounds)):
 if re.match('SEC-F', bounds[i][1]):
   break
 if re.match('[0-9][0-9](-|\.)[0-9][0-9](-|\.)', bounds[i][1].replace(" ", "")):
   if bounds[i][1] != 'PX':
    date.append(bounds[i][1].replace(" ", ""))

In [ ]:
Data=pd.DataFrame(zip(name,date), columns=['Name', 'Date'] )
Data['Letter'] = Data.index.to_series().apply(lambda x: chr(ord('a') + x)).str.upper()
Data[['Letter', 'Name', 'Date']]

   Letter                             Name      Date
0       A  ADVANCED MARKETING SERVICES INC  07-25-91
1       B         AG.BAG INTERNATIONAL LTD  07.13-91
2       C   ASPECT TELECOMMUNICATIONS CORP  05-17-91
3       D                  BANK SOUTH CORP  04-18-91
4       E               BLYTH HOLDINGS INC  08-30-91
5       F                    CHEMPOWER INC  05-02-91
6       G             CREST INDUSTRIES INC  09.24-91
7       H           DIGITAL MICROWAVE CORP  08-15.91
8       I         FIRSTBANK OF ILLINOIS CO  04-29-91
9       J          FLAGSHIP FINANCIAL CORP  05-07-91
10      K                GOLD RESERVE CORP  07-16-91
11      L   HOSPITAL STAFFING SERVICES INC  05-31-91
12      M           LINCCLN FINANCIAL CORP  04-16-91
13      N                      MORRISON IC  09-23-91
14      O                          NIKE IC  09-16-91
15      P                    PioneER three  10-15-91
16      Q            St. GEOrGE METALS INC  08-02-91
17      R             WESTMORELAND COAL CO  05-07-91